/* AppComponent's private CSS styles */

h1 {
    font-size: 1.2em;
    color: #999;
    margin-bottom: 0;
  }
  h2 {
    font-size: 2em;
    margin-top: 0;
    padding-top: 0;
  }
  nav {background: #ccc;
    height: 60px;padding: 0px 20px;}
  nav a {
    padding: 10px 10px;
    margin-top: 10px;
    display: inline-block;
    border-radius: 0px;
    text-decoration: none;
    color:#000;
    background: #6b7e9a;
  }
  nav a:visited, a:link {
    color: #fff;
  }
  nav a:hover {
    color: #fff;
    background-color: #0e3b80;
  }
  nav a.active {
    color: #fff;
    background: #0e3b80;
  }
