
              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 pull-left list" *ngIf="currentPage == 0">
                <div class="list-group" >
                  <a href="#" class="list-group-item list-group-header disabled">

                  </a>

                <div class="list-group list-items">
                  <a href="#" class="list-group-item list-group-item-action"><span class="list-data">{{subcategory.subcatName}}</span><span class="cust-icon-arrow"></span></a>

                </div>
            </div>
            <!-- <ul *ngFor="let category of businessCategory">
              <li> {{category.header}}
                <ul *ngFor="let subcategory of category.category">
                   <li>{{subcategory.catgoryName}}</li>
                </ul>
              </li>
            </ul> -->
            <div *ngFor='let test of tests' class="data1">
                <h4>Header:{{test.header}}</h4>
              <div *ngFor="let a of test.A.B">
                <div *ngFor="let b of a.C.D;let i = index" >
                  <b>Content: </b>  :{{b.content}}<br>
                  <b>Date: </b>  {{i}} :{{b.writedt | date}}<br>
                  <b>Id: </b>  {{i}} :{{b.writerid}}
                  <hr>
                </div>
              </div>
            </div>
            <ul class="list-group">
                <li  *ngFor="let c of Datalist" class="list-group-item">
                    <label> {{Datalist[0].status}} </label>
                    <span class="pull-right">{{Datalist[0].id}}</span>
                </li>
                </ul>

                <ul>
                    <li *ngFor=" let item of items; trackBy: trackByFn;">
                      {{item}}
                    </li>
                  </ul>
            </div>

